<html>
<head>

</head>
<body id="container">

</body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.1/react.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.1/JSXTransformer.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{{ "test.jsx" | asset_url}}" type="text/jsx"></script>
</html>